.splitMenuButtonSmall {
    -fx-font-size: 20px;
    -fx-font-family: 'Garamond';
    -fx-text-base-color: #323232;
}

.splitMenuButtonSmall .label {
    -fx-background-color: #dfd7b0;
}

.splitMenuButtonSmall .arrow-button {
    -fx-background-color: #dfd7b0;
}

.splitMenuButtonSmall .arrow {
    -fx-background-color: #323232;
}

.splitMenuButtonSmall .menu-item {
    -fx-background-color: #dfd7b0;
}

.buttonBack {
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0.0em; /* Adjust padding as needed */
    /*-fx-text-fill: #d34813;*/
    /*-fx-text-fill: #705f16;*/
    -fx-font-family: 'Garamond';
    -fx-underline: true;
    -fx-text-base-color: #323232;
}

.buttonCancel {
    -fx-font-size: 25px;
    -fx-background-color: #da4d17;
    -fx-background-radius: 10;
    -fx-border-color: #dfd7b0;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Garamond';
    -fx-text-base-color: #323232;
}

.buttonSmall {
    -fx-font-size: 13px;
    -fx-background-color: #705f16;
    -fx-background-radius: 10;
    -fx-border-color: #dfd7b0;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Garamond';
    -fx-text-base-color: #323232;
}


.buttonRegular {
    -fx-font-size: 25px;
    -fx-background-color: #705f16;
    -fx-background-radius: 10;
    -fx-border-color: #dfd7b0;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Garamond';
    -fx-text-base-color: #323232;
}

.buttonLarge {
    -fx-font-size: 35px;
    -fx-background-color: #705f16;
    -fx-background-radius: 10;
    -fx-border-color: #dfd7b0;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Garamond';
    -fx-text-base-color: #323232;
}

.errorPane {
    -fx-font-size: 35px;
    -fx-background-color: #da4d17;
    -fx-background-radius: 10;
    -fx-border-color: #dfd7b0;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Garamond';
    -fx-text-base-color: #323232;
}

.lastRoundPane{
    -fx-font-size: 35px;
    -fx-background-color: purple;
    -fx-background-radius: 10;
    -fx-border-color: #dfd7b0;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Garamond';
    -fx-text-base-color: #323232;
}

.successPane {
    -fx-font-size: 35px;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #323232;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Garamond';
    -fx-text-base-color: #323232;
}

.button {
    -fx-text-base-color: #323232;
}