.splitMenuButtonSmall {
    -fx-font-size: 20px;
    -fx-background-color: #705f16;
    -fx-font-family: 'Old English Text MT';
}

.buttonBack {
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0.0em; /* Adjust padding as needed */
    /*-fx-text-fill: #d34813;*/
    -fx-text-fill: #705f16;
    -fx-font-family: 'Old English Text MT';
    -fx-underline: true;
}

.buttonCancel {
    -fx-font-size: 25px;
    -fx-background-color: #da4d17;
    -fx-background-radius: 10;
    -fx-border-color: b6da9f;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Old English Text MT';
}

.buttonRegular {
    -fx-font-size: 25px;
    -fx-background-color: #705f16;
    -fx-background-radius: 10;
    -fx-border-color: b6da9f;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Old English Text MT';
}

.buttonLarge {
    -fx-font-size: 35px;
    -fx-background-color: #705f16;
    -fx-background-radius: 10;
    -fx-border-color: b6da9f;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Old English Text MT';
}
