
.chatButtonList {
    -fx-font-size: 25px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Old English Text MT';
    -fx-text-base-color: #323232;
}

.chatButtonSend {
    -fx-font-size: 25px;
    -fx-background-color: #da4d17;
    -fx-background-radius: 10;
    -fx-border-color: #705f16;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Old English Text MT';
    -fx-text-base-color: #323232;
}

.chatButtonMovement {
    -fx-font-size: 25px;
    -fx-background-color: #dfd7b0;
    -fx-background-radius: 10;
    -fx-border-color: #332115;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Old English Text MT';
    -fx-text-base-color: #323232;
}

.chatPane{
    -fx-background-color: #dfd7b0;
    -fx-background-radius: 10;
    -fx-border-color: #332115;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.chatTextBar{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #705f16;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-size: 20px;
    -fx-font-family: 'Old English Text MT';
}