.page {
    -fx-background-image: url('/polimi/ingsoft/demo/graphics/img/background/generalBackground7_big.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.textSmall {
    -fx-font-size: 30px;
    -fx-font-family: 'Old English Text MT';
}

.textRegular {
    -fx-font-size: 40px;
    -fx-font-family: 'Old English Text MT';
    /*-fx-font-family:'DragonHunter';*/
}

.textBold {
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-font-family: 'Old English Text MT';
    /*-fx-font-family:'DragonHunter';*/
}

.buttonBack {
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0.0em; /* Adjust padding as needed */
    /*-fx-text-fill: #d34813;*/
    -fx-text-fill: #705f16;
    -fx-font-family: 'Old English Text MT';
    -fx-underline: true;
}

.buttonRegular {
    -fx-font-size: 25px;
    -fx-background-color: #705f16;
    -fx-background-radius: 10;
    -fx-border-color: b6da9f;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Old English Text MT';
}

.buttonLarge {
    -fx-font-size: 35px;
    -fx-background-color: #705f16;
    -fx-background-radius: 10;
    -fx-border-color: b6da9f;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-family: 'Old English Text MT';
}
