.initialPage {
    -fx-background-image: url('/polimi/ingsoft/demo/graphics/img/background/generalBackground7_big.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.gamePage {
    -fx-background-image: url('/polimi/ingsoft/demo/graphics/img/background/generalBackground13.JPG');
    /*-fx-background-image: url('/polimi/ingsoft/demo/graphics/img/background/generalBackground8.jpg');*/
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.home {
    -fx-background-image: url('polimi/ingsoft/demo/graphics/img/background/home.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
}

