.initialPage {
    -fx-background-image: url('/polimi/ingsoft/demo/graphics/img/background/generalBackground7_big.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.gamePage {
    -fx-background-image: url('/polimi/ingsoft/demo/graphics/img/background/generalBackground13.JPG');
    /*-fx-background-image: url('/polimi/ingsoft/demo/graphics/img/background/generalBackground8.jpg');*/
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.home {
    -fx-background-image: url('polimi/ingsoft/demo/graphics/img/background/home.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.chat{
    -fx-background-color: #dfd7b0;
    -fx-background-radius: 10;
    -fx-border-color: #332115;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.chatTextBar{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #705f16;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-size: 20px;
    -fx-font-family: 'Old English Text MT';
}