.textSmall {
    -fx-font-size: 30px;
    -fx-font-family: 'Old English Text MT';
}

.textRegular {
    -fx-font-size: 40px;
    -fx-font-family: 'Old English Text MT';
    /*-fx-font-family:'DragonHunter';*/
}

.textBold {
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-font-family: 'Old English Text MT';
    /*-fx-font-family:'DragonHunter';*/
}